html,body {padding: 0;
           max-width:72em;
	       min-width:32em;
           margin:0 auto;
	       height:100%;
		   font-size:62.5%;
	       }

.background {height:100%;
             background-color:#68cdd5;}

.backbutton {padding-top:2%;
             padding-left:4%;
             }
			 
.pttlogo {text-align:center;
          padding-top:15%;}

.text {text-align:center;
       padding-left:10%;
	   padding-right:10%;
	   padding-top:10%;
	   padding-bottom:15%;
	   font-size: 3em;
	   color: rgb(255, 255, 255);
       }
	   
.icon {width:50%;
       padding-bottom:20%;
	   }

.icontext {text-align:center;
           font-size: 2.4em;
		   color: rgb(255, 255, 255);}