html,body {padding: 0;
           margin:0 auto;
	       height:100%;
		   max-width:720px;
	       min-width:320px;
		   background-color:#68cdd5;
		   font-size:62.5%;/*之前背景色设置在div的样式里，导致页面两遍有白边，改在body里面解决问题*/
	       }

.background {height:100%;
             }

.backbutton {padding-top:2%;
             padding-left:4%;
             }
			 
.pttlogo {text-align:center;
          padding-top:15%;}

.text {text-align:center;
       padding-left:10%;
	   padding-right:10%;
	   padding-top:10%;
	   padding-bottom:15%;
	   font-size: 30px;
	   color: rgb(255, 255, 255);
       }
	   
.icon {width:50%;
       padding-bottom:20%;
	   }

.icontext {text-align:center;
           font-size: 24px;
		   color: rgb(255, 255, 255);}